/* ===========================
   Правила оформления CSS-файла
   =========================== */

/* 1. БАЗА */
@use 'base/variables';
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

/* 2. КОМПОНЕНТЫ */
@use 'components/buttons';
@use 'components/badges';
@use 'components/cards';
@use 'components/lightbox';
@use 'components/docs-modal';
@use 'components/play-modal';

/* 3. СЕКЦИИ */
@use 'sections/header';
@use 'sections/banner';
@use 'sections/hero';
@use 'sections/afisha';
@use 'sections/snow-queen';
@use 'sections/director';
@use 'sections/contacts';
@use 'sections/footer';